.header {
    background-color: #4e2929;
    background-image: url("./headerImage.jpeg");
    width: 100%;
    color: #fff;
    min-height: 110px;
    padding: 130px 20px;
    padding-bottom: 110px;
    text-align: center;

}